<ul class="links">
  <li class="{% if page.url == "/" %} active {% endif %}"><a href="{{ "/" | absolute_url }}">Home</a></li>
  <li class="{% if page.url contains '/about/' %} active {% endif %}"><a href="{{ "/about/" | absolute_url }}">About</a></li>
  <li class="{% if page.url contains '/internship/' %} active {% endif %}"><a href="{{ "/internship/" | absolute_url }}">Internship</a></li>
  <li class="{% if page.url contains '/projects/' %} active {% endif %}"><a href="{{ "/projects/" | absolute_url }}">Projects</a></li>
  <li class="{% if page.url contains '/experience/' %} active {% endif %}"><a href="{{ "/experience/" | absolute_url }}">Experience</a></li>
</ul>

<ul class="icons">
  <li><a href="mailto:{{site.email}}" class="icon fa-gmail" rel="nofollow"><span class="label">Email</span></a></li>
  <li><a href="https://linkedin.com/in/{{site.linkedin}}" class="icon fa-linkedin" rel="nofollow"><span class="label">Linkedin</span></a></li>
  <li><a href="https://github.com/{{site.github}}" class="icon fa-github" rel="nofollow"><span class="label">GitHub</span></a></li>
  <li><a href="https://instagram.com/{{site.instagram}}" class="icon fa-instagram" rel="nofollow"><span class="label">Instagram</span></a></li>
  <li><a href="https://www.youtube.com/{{site.youtube}}" class="icon fa-youtube" rel="nofollow"><span class="label">Youtube</span></a></li>
</ul>
